.main-poster.active {
    opacity: 1;
    transition-duration: .5s;
    width: 75vw;
    height: auto;
    position: absolute;

}

.main-poster {
    opacity: 0;
    transition-duration: 1s ease;
    pointer-events: none;
}

@media screen and (min-width: 767px) {
    .main-poster.active {
        opacity: 1;
        transition-duration: .5s;
        width: 320px;
        height: auto;
        position: absolute;
        left: 10rem;
        top: 50;
    }
}