.age-verify {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    text-align: center;
}

.age-verify h1 {
    margin: 1.5rem 2rem;
}

.age-verify button {
    background-color: rgb(21, 63, 21);
    color: white;
    border: none;
    border-radius: .6rem;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: .5rem;
    transition: 0.3s;
}

.age-verify button:hover {
    background-color: white;
    color: black;
  }