.order-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.movie-order, .menuItem-order, .tickets, .add-ons {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.movie-order-details, .menuItem-order-details, .tickets p {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 0 1rem 0 1rem;
    align-self: center;
    align-items: center;
    text-align: center;
}

.movie-order-details button, .menuItem-order-details button, .submit-order {
    background-color: rgb(21, 63, 21);
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

.movie-order-img, .menuItem-order-img {
    display: flex;
    width: 50vw;
    justify-content: center;
}

.movie-order img, .menuItem-order img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.add-ons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tickets p {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 0 1rem 0 1rem;
    margin: 0px;
    align-self: center;
    align-items: center;
    text-align: center;
}

.tickets div, .add-ons div {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 0 1rem 0 1rem;
    margin: 0px;
    align-self: center;
    align-items: center;
    text-align: center;
}

.add-ons div {
    padding: 0px;
}

.tickets input {
    width: 4rem;
    text-align: center;
}

.add-ons {
    justify-content: flex-end;
}

.add-ons select {
    width: 4rem;
    text-align: center;
}