@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        padding-left: 4rem;
        justify-content: center;
    }

    .hero h1 {
        text-align: center;
        color: white;
        margin: 12px 36px;
        text-shadow: 25rem;
        font-size: 62px;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 2.5px;
        
    }
}   


.hero h1 {
    text-align: center;
    color: white;
    margin: 12px 36px;
    text-shadow: 25rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2.5px;
}

.hero-buttons {
    display: flex;
    margin: 12px 36px;
    justify-content: center;
}

.hero-buttons button {
    margin: 0.5rem;
    font-family: 'Work Sans';
    font-weight: bold;
}

.get-started {
    background-color: rgb(21, 63, 21);
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: 0.3s;
}

.get-started:hover, .learn-more:hover {
    background-color: white;
    color: black;
}

.learn-more {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: 0.3s;
}
