.menuItem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    margin-top: 4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.menuItem-img img {
    padding-top: 2rem;
    border-radius: 50%;
    width: 80vw;
    height: 35vh;
}

.details-wrapper {
    margin-top: 1.5rem;
}

.menuItem-details  {
    text-align: center;
}

.menuItem-container button {
    margin: 2rem;
    background-color: rgb(21, 63, 21);
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    .menuItem-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-top: 6rem;
        position: relative;
    }

    .menuItem-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menuItem-container button {
        position: absolute;
        left: 12rem;
        bottom: 8rem;
        margin: 2rem;
        background-color: rgb(21, 63, 21);
        color: white;
        border: none;
        border-radius: 1.5rem;
        padding: .5rem 1rem;
        text-decoration: none;
    }

    .menuItem-img img {
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
    }
}