.menuItem-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 4rem;
}

.menuItem-details img {
    border-radius: 50%;
    width: 80vw;
    height: 35vh;
}

.details-wrapper {
    margin-top: 1.5rem;
}

.menuItem-details input {
    text-align: center;
    font-size: 2rem;
    width: 4rem;
}

.menuItem-details button {
    margin: 2rem;
    background-color: rgb(21, 63, 21);
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
}
