
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}

@media only screen and (min-width: 600px){
    #main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.menu-bars {
    margin-right: 24px; 
}

.menu-bars a{
    color: white;
}

.nav-menu {
    background-color: black;
    width: 75vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.navbar-toggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
}

.nav-menu-items {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: flex-start;
    padding: 8px 0px 8px 16px;
}

.nav-menu-items {
    width: 100%;
}

.nav-menu-items a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-menu-items a:hover {
    background-color: rgb(21, 63, 21);
}

.nav-brand {
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.profile {
    display: flex; 
    align-items: center;
    transition: 0.3s;
}

.profile a {
    text-decoration: none;
    color: white; 
}

.profile:hover {
    background-color: rgb(21, 63, 21);
    border-radius: 1.5rem;
    padding: .2rem .5rem;
}

.profile a:last-child {
    margin-left: 1rem; 
    color: white;
}

.nav-links {
    display: flex;
    width: 50%;
    margin: 0px 24px 0px 0px;
    justify-content: space-around; 
}

.nav-links a {
    text-decoration: none;
    color: white;
    height: 100%;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: rgb(21, 63, 21);
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    text-decoration: none;
}